{% extends 'base.html.twig' %}

{% block title %}Changement de mot de passe{% endblock %}

{% block body %}
    <h1>Changement de mot de passe</h1>
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <div class="container">
        {{ form_start(form) }}
        <div class="row m-3">
            <div class="form-floating">
                {{ form_row(form.plainPasswordCurrent) }}
            </div>
        </div>
        <div class="row m-3">
            <div class="form-floating">
                {{ form_row(form.plainPassword) }}
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Réinitialiser le mot de passe</button>
        {{ form_end(form) }}
        {% if success is defined %}
            <div class="row m-3">
                {% if success == true %}
                    <div class="alert alert-success" role="alert">
                        <p>Mot de passe réinitialisé avec succès</p>
                    </div>
                {% endif %}
            </div>
        {% endif %}
    </div>

{% endblock %}
